@model Biblioteca.Models.Catalogo.GestioneIndexModels

<div id="gestione">
    <h3>Catalogo Biblioteca</h3>
    <div id="gestioneTable">
        <table class="table table-condensed" id="catalogoIndexTable">
            <thead>
                <tr>
                    <th>Immagine</th>
                    <th>Titolo</th>
                    <th>Autore</th>
                    <th>Genere</th>
                    <th>Casa Editrice</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var gestione in Model.gestione)
                {
                <tr class="assetRow">
                    <td>
                        <a asp-controller="Catalogo" asp-action="Dettaglio" asp-route-id="gestione.Id">
                            <img src="gestione.ImmagineUrl" class="ImageCell" />
                        </a>
                    </td>
                    <td>@gestione.Titolo</td>
                    <td>@gestione.Autore</td>
                    <td>@gestione.Genere</td>
                    <td>@gestione.CasaEditrice</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>